#root {
  max-width: 100dvw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Karla', 'sans-serif';
}

/* CONTAINERS */
#app-container{
    border: 1px solid red;
    margin: 1rem;
    padding: 1rem;
}

#main-section-container{
    border: 3px dotted goldenrod;
    margin: 2rem;
    padding: 2rem;
}

#navbar-container{
    border: 1px solid rgb(15, 238, 15);
    margin: 2rem;
    padding: 1rem;
}

#footer-container{
    border: 1px dashed rgb(226, 179, 187);
    margin: 1rem;
    padding: 1rem;
}

.search-form-container{
    border: 1px solid rgb(255, 0, 149);
}

.radio-buttons-container{
    border: 1px dashed rgb(255, 0, 149);
    font-size: 1.6rem;
    margin: 1rem 0;
    padding: 0.5rem;
}

#results-container{
    border: 1px dashed yellow;
}

.tab-container{
    border: 2px solid white;
}


/* MISC COMPONENTS ---------------------- */

.search-bar{
    margin: 0.5rem 0;
    padding: 0 2rem;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 10px;
}

.search-label{
    font-size: 1.3rem;
}

.button-tab{
    border: 3px dotted red;
}

.radio-button{
    margin: 0 1rem;
    width: 16px;
    height: 16px;
    scale: 1.3;
    appearance: none;
    border-radius: 50%;
    border: 2px solid #999;
    transition: 0.15s all linear;
}

.radio-button:checked{
    border: 4px solid rgb(0, 255, 140);
}

.radio-button:hover{
    border: 4px solid rgb(0, 255, 140, 0.3);
}

/* NAVBAR--------------------------- */
.navbar-link{
    padding: 0 1rem;
    border: 1px solid yellow;
}